p {
    text-align: center;
    font-size: 32px;
    font-family: Candara, Oswald;
  }
  img {
    display: block;
    margin: 0 auto;
    width: 30%;
  }
  
  #btn1{
    position: fixed;
    top: 90%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
  #btn2 {
    position: absolute;
    left: 40%;
    top: 89%;
  }
  